body {
  line-height: 2em;
}

.c {
  width: 500px;
  margin: auto;
}

.p {
  text-align: center;
  font-size: .9em;
  padding-top: 100px;
}

input[type=number] {
  width: 10em;
}

input[type=number]:in-range {
  outline: lightgreen solid 1px;
}

input[type=number]:out-of-range {
  outline: red solid 1px;
}
